venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
instance/
.env
*.log
*.db
.DS_Store
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
deploy_key
deploy_key.pub
smart-citizen-key.pem
*.zip
node_modules/
